{% extends 'base.html' %}
{% block content %}
	<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <h3>Show books</h3>
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="text-center">
                    <th>Book</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for book in object_list %} {# default is object_list (book) must be views.py #}
                	<tr>
                    <td>{{ book.book_info }}</td>
                    <td class="text/center">
                        <a href="{% url 'booksapp:book_update' pk=book.id %}">Update</a>
                        <a href="" class="text-danger">Delete</a>
                        <a href="" class="text-warning">Detail</a>
                    </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <a href="{% url 'booksapp:book_create' %}">Add a new book</a>
        </div>
    </div>
    </div>
{% endblock %}