{% extends 'base.html' %}
{% block content %}
	<div class="row">
    <div class="col-8 mt-2 mx-auto">
        <h3>Detailed information about the book {{ book.title }}</h3>
        <table class="table table-bordered">
            <tr>
                <td>Title</td>
                <td>{{ book.title }}</td>
            </tr>
              <tr>
                <td>Author</td>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <td>Book language</td>
                <td>{{ book.book_language }}</td>
            </tr>
            <tr>
                <td>ISBN</td>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <td>Number of pages</td>
                <td>{{ book.number_of_pages }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <td>Book published year</td>
                <td>{{ book.book_published_year }}</td>
            </tr>
        </table>
        <p class="text-end">
            <a href="{% url 'booksapp:book_list' %}">List on books</a>
        </p>
    </div>
    </div>
{% endblock %}