{% extends 'base.html' %}
{% block content %}
	<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <h3>Show countries</h3>
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="text-center">
                    <th>Country</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for country in countries %} {# default is object_list (countries) #}
                	<tr>
                    <td>{{ country }}</td>
                    <td class="text/center">
                        <a href="{% url 'booksapp:country_update' pk=country.id %}">Update</a>
                        <a href="" class="text-danger">Delete</a>
                    </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <a href="{% url 'booksapp:country_create' %}">Add a new country</a>
        </div>
    </div>
    </div>
{% endblock %}